.verde{
    color: green;
}
.azul{
    color: blue;
}
.violeta {
    color: blueviolet;
}
.rosa {
    color: deeppink;
}


.green {
    background-color: limegreen;
}
.blanco {
    color: aliceblue;
}

.darkcyan {
    background-color: darkcyan;
}

.violet {
    background-color: blueviolet;
}
.rojo {
    font-size: 50px;
    color: red;}

.VERDE {
    font-size: 50px;
    color: green;
}
.AZUL {
    font-size: 50px;
    color: blue;
}
.amarillo {
    font-size: 50px;
    color: yellow;
}
.believe {
    font-size: 30px;
    color: green;
}
.in {
    background-color: green;
}
.your{
    background-color: orangered;
}
.dreams{
    font-size: 50px;
    color: orangered;
}
.a {
    font-size: 5px;
}
.b {
    font-size: 10px;
}
.c {
    font-size: 15px;
}
.d {
    font-size: 20px;
}
.e {
    font-size: 25px;
}
.f {
    font-size: 30px;
}
.g {
    font-size: 35px;
}
.h {
    font-size: 40px;
}
.i {
    font-size: 45px;
}
.j {
    font-size: 50px;
}
.k {
    font-size: 55px;
}
.l{
    font-size: 60px;
}
.m {
    font-size: 65px;
}
.n {
    font-size: 70px;
}
.o {
    font-size: 75px;
}
.p {
    font-size: 80px;
}
.q {
    font-size: 85px;
}